.Dictionary section {
    background: rgb(215, 206, 231);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 2px 12px rgba(142, 78, 161, 0.5);
    margin: 20px 0;
    font-family:'Courier New', Courier, monospace;
     }
     
  .Dictionary input {
    width: 100%;
    padding: 6px 4px;
    border: 2px solid rgb(134, 116, 168);
    border-radius: 6px;
    font-family:'Courier New', Courier, monospace;
  }
  .Dictionary h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 6px;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
  }